## Pcaca zaliczeniowa I

In [1]:
import pandas as pd

data = pd.read_csv("Datasets/praca_hausing.csv")
data

,pietro,izby,powierzchnia,zadrzewienie,autostrada,przemysł,centrum,jezioro,lasy,tramwaj,policja,szkola,cena,zainter
0,0,4,65.10,13.44,3153.81100,63.63961,7366.52600,1384.37700,538.56290,472.70500,2996.06800,1324.84000,4531.49,False
1,3,2,32.70,21.56,8452.07227,134.35030,2818.24414,1601.85046,1471.20703,96.04687,1860.02686,289.87067,1972.32,True
2,0,3,40.98,1.20,6571.53900,89.44272,2269.05800,1264.80200,798.82730,40.31129,734.20030,261.72500,2037.58,True
3,3,2,49.53,0.48,11763.63574,207.00241,5615.26953,5416.94092,236.48466,2214.45825,2338.56787,182.48288,5471.43,False
4,4,3,81.40,21.72,4384.95500,169.18920,2375.39500,3475.80900,2024.84600,317.56890,1301.76800,65.00000,3482.80,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,2,25.10,5.20,4261.23535,95.52486,2011.49817,2911.67041,1944.27368,137.93114,483.73547,83.81527,5856.57,False
996,1,5,118.70,5.04,6369.22700,60.20797,2195.38200,1453.61600,1001.69900,221.35940,533.12760,250.00000,3454.09,True
997,0,3,43.70,29.64,4216.83500,261.96380,2307.27700,1879.92700,1155.87600,234.20080,1420.95900,219.14610,4736.84,False
998,3,2,45.70,9.24,4425.45459,61.84658,2693.58496,3260.13794,1907.06580,15.81139,850.00000,435.48822,5689.28,False
999,2,3,36.50,4.44,5521.06200,240.83190,2049.59700,2294.61300,1872.92600,136.56500,226.38460,652.32280,5753.42,False

Dane zawierają dwie zmienne wyjaśniane:

- binarną *zainter*, która oznacza czy dana nieruchomość cieszy się zainteresowaniem czy nie (cokolwiek to znaczy)
- numeryczną *cena* (dane mocno nieaktualne). Zmienna ta jest również jedną ze zmiennych wyjaśniających dla zmiennej *zainter*

Zmienne wyjaśniające to informacje na temat odległości budynków od wybranych obiektów przestrzennych

W ramach pracy należy:

- określić zależności liniowe pomiędzy zmiennymi wyjaśnianymi a wyjaśnianymi. Należy pamiętać o transformacjach
- Czy wszystkie zmienne wyjaśniające powinny być numeryczne?
- wskazać zmienne o małej przydatności dla modelu liniowego
- wskazać, które zmienne zachowują się nieliniowo i czy zmiany te są uzasadnione rozkładem tych zmiennych
- Wskazać jaka część zakresu zmiennych wpływa na zwyżkę ceny (lub zwiększa prawdpodobieństwo zainteresowania) a jaka obniża te cechy.